html
  head
    title= title
  body
    h1= "Guess the word!"
    form(action='/guess' method='post')
      input(id='letter_guessed' type='text' name='letter' autofocus='autofocus')
      button(class='guess_button' type='submit')= "Guess!"
    p= secretWord
    img(src= image + ".jpg" alt='hangman' height='500' width='500')
    div(class)= "Wrong guesses:"
    p= wrongGuesses
